body{
    font-family: arial,sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

a{
    color: #52c80c;
    font-family: 'Georgia', serif;
    background-color: #d6e5e3;
}
/* defines the style 
  unvisited links */
  a:link {
    color: #D11BCE;
    text-decoration: none;
  }
  
  /* a link is hovered when
    the mouse is over it */
  a:hover {
    color: #6897EE;
    background-color: #000000;
  }
  
  /* click on the link but hasn't 
    released the mouse button yet */
  a:active{
    color: #B8860B;
    background-color: #000000;
  }
  
  a:visited{
    color: aqua;
    background-color: #52c80c;
  }
  body {
   font-size: 20px;
  }