body{
    margin: 50px;
    background-color: #0c1527;
    display: flex;
}
@keyframes pulse{
    0%{transform: scale(1);}
    50%{transform: scale(2);}
    100%{transform: scale(1);}
}

.circle-yellow{
    width: 40px;
    height: 40px;
    background-color: #ffa310;
    border-radius: 50%;
    animation: pulse 3s;
    animation-iteration-count: 5;
}

.circle-green{
    width: 100px;
    height: 100px;
    top: 120px;
    left: 30px;
    background-color: #10ff14;
    border-radius: 50%;
    position: absolute;
    animation: pulse 3s;
    animation-iteration-count: 5;

    

}
.circle-blue{
    width: 60px;
    height: 60px;
    left: 170px;
    top: 15px;
    background-color: #1064ff;
    border-radius: 50%;
    position: absolute;
    animation: pulse 3s;
    animation-iteration-count: 5;

    

}

.visual{
    position: relative;
    width: 50px;
    height: 50px;
    display: inline;
}