.padded-box{
    border: 2px solid #ffa310;
    padding: 20px;
    color: #ffffff;
}
.default-box{
    border: 2px solid #ffa310;
    color: #ffffff;
}
body{
    background-color: #0c1527;
}
