p{
    font-size: 18px;
    
}

.double{
    text-decoration: double underline red;
}
.dotted{
    text-decoration: dotted underline #2a9d8f ;
}

.dashed{
    text-decoration: dashed underline red;
}

.wavy{
    text-decoration: wavy underline #62767e;
}
.capitalize{
    text-transform: capitalize;
    text-shadow: 3px 2px blue;
    color: lightgreen;
}
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}